<ion-header [translucent]="true" >
  <ion-toolbar color="primary" id="toolbar">
    <ion-title>
      <img src="../../assets/icon/LIFEAZ.png" alt="Logo LIFEAZ">
    </ion-title>  
  </ion-toolbar>
  <ion-list>
    <img src="../../../../assets/icon/icon_menu.png" alt="icone menu">
    <ion-item>
      <ion-label>
        DÉFIBRILLATEURS
      </ion-label>
      <button ion-item (click)="onDefibrillateursPage()"></button>
    </ion-item>
    <ion-item>
      <ion-label>
        COMMANDES
      </ion-label>
      <button ion-item (click)="onCommandesPage()"></button>
    </ion-item>
  </ion-list>
</ion-header>

