<ion-header [translucent]="true" >
  <ion-toolbar color="primary" id="toolbar">
    <div id="toolbar">
      <ion-title>
        <img src="../../assets/icon/LIFEAZ.png" alt="Logo LIFEAZ">
      </ion-title> 
      <ion-list>
        <a (click)="onMenuView()">
          <img src="../../../../assets/icon/icon_menu.png" alt="icone menu">
        </a>
      </ion-list>
    </div> 
    <div id="menu">
      <ion-item color="primary" lines="none">
        <ion-label (click)="onDefibrillateursPage()">
          DÉFIBRILLATEURS
        </ion-label>
      </ion-item>
      <ion-item color="primary" lines="none">
        <ion-label (click)="onCommandesPage()">
          COMMANDES
        </ion-label>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>